<div [class]="'theme-wrapper ' + (theme$ | async)">

  <div class="container">
    <div class="row">
      <div class="col">

        <h1 style="font-family: Gilroy-ExtraBold;margin-top: 40px;font-weight: 500;text-align: center;margin-bottom: 40px;">
          <div style="display: inline-block;width: 100px;vertical-align: middle;margin-right: 16px;">
            <img src="https://scontent-gru1-1.xx.fbcdn.net/v/t1.0-1/p100x100/78420373_110106870468608_6725097398810443776_n.png?_nc_cat=102&_nc_ohc=xkWwoDxXV9UAQl96m4kIPbLX15TEFgCojwB7cLTzNe2ddLwrlI-EdJZAQ&_nc_ht=scontent-gru1-1.xx&oh=14702dcedc273ddea1bfa3c266c15080&oe=5E788058" alt="Lorena" style="border-radius: 50%">
          </div>

          Esta lista foi feita especialmente para você</h1>

        <mat-card>


          <div class="row">
            <div class="col-4">

              <div *ngFor="let apartment of apartments " (click)=show_apartment(apartment)>
                <div class="row">
                  <mat-card class="mat-elevation-z0" style="margin-top: 1px;cursor: pointer" [class.selected-card]="apartment == current_apartment">

                    <mat-card-header>

                      <div class="row">
                        <div class="col">

                          <img src="{{apartment.image}}"/>

                          <div [hidden]="!apartment.interest">
                            <svg class="svg-icon" viewBox="0 0 20 20" style="width: 20px;position: absolute;top: 0;left: -20px;fill:#FF6023;">
                              <path
                                d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"></path>
                            </svg>
                          </div>
                        </div>
                        <div class="col" style="font-family: proxima-nova, Arial;">
                          <mat-card-title>{{apartment.title}}</mat-card-title>
                          <mat-card-subtitle>{{apartment.subtitle}}
                          </mat-card-subtitle>
                        </div>
                      </div>

                    </mat-card-header>

                  </mat-card>
                </div>

                <mat-divider></mat-divider>
              </div>

            </div>
            <div class="col">

              <mat-card>

                <img mat-card-image src="{{current_apartment.image}}"/>

                <mat-card-content>

                  <mat-card-title>{{current_apartment.title}}</mat-card-title>
                  <mat-card-subtitle>{{current_apartment.subtitle}}
                  </mat-card-subtitle>

                  <div>
                    <section class="jss365">
                      <h6 class="MuiTypography-root jss367 MuiTypography-h6">
                        Características do apartamento</h6>
                      <div class="MuiGrid-root MuiGrid-container">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 32 14" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2"
                                   stroke-linecap="square">
                                  <path
                                    d="M27 10a1 1 0 1 1 0-2 1 1 0 1 1 0 2zm-.999-9v4-4H22v3-3h-4.001v4-4h-3.998v3-3H10v4-4H5.999v3-3H1v12h30V1h-4.999z"></path>
                                  <path d="M27 8a1 1 0 1 0 0 2 1 1 0 1 0 0-2z"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root jss-379MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-flex-end MuiGrid-grid-xs-7">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">123 m²</h6></div>
                                <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-grid-xs-5"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 28 23" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2">
                                  <path d="M1 14.445h25.998M1 18.934h25.998"></path>
                                  <path d="M22.963 1H5.033v6.275h17.93z" stroke-linecap="square"></path>
                                  <path d="M5.034 7.27L1 14.441v7.172M27.001 21.613v-7.172L22.967 7.27"
                                        stroke-linecap="square"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">3 dorms</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 27 33" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2"
                                   stroke-linecap="square">
                                  <path
                                    d="M13.5 1v4.167M3.775 16.283v-1.389c0-5.347 4.375-9.722 9.723-9.722 5.347 0 9.722 4.375 9.722 9.722v1.389"></path>
                                  <path
                                    d="M23.917 20.444H3.083c-1.18 0-2.083-.903-2.083-2.083 0-1.18.903-2.084 2.083-2.084h20.834c1.18 0 2.083.903 2.083 2.084 0 1.18-.903 2.083-2.083 2.083zM13.5 29.473v2.083M7.945 25.3v2.084M19.055 25.3v2.084"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">1 suíte</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 28 29" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2">
                                  <path d="M7.067 24.531v2.6H2.301v-2.6M25.7 24.531v2.6h-4.766v-2.6"
                                        stroke-linecap="square"></path>
                                  <path
                                    d="M23.968 16.73l-1.57-6.277a.867.867 0 0 0-.84-.656H6.443a.867.867 0 0 0-.84.656l-1.57 6.277"></path>
                                  <path
                                    d="M25.7 24.534H2.3v-5.707c0-.23.092-.45.255-.613l1.48-1.48h19.932l1.48 1.48a.867.867 0 0 1 .254.613v5.707z"
                                    stroke-linecap="square"></path>
                                  <path
                                    d="M6.198 21.936a1.3 1.3 0 1 0 0-2.6 1.3 1.3 0 0 0 0 2.6zM21.8 21.936a1.3 1.3 0 1 0 0-2.6 1.3 1.3 0 0 0 0 2.6z"
                                    stroke-linecap="square"></path>
                                  <path d="M1 8.067L14 2l13 6.067"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">1 vaga</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 28 28" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2"
                                   stroke-linecap="square">
                                  <path
                                    d="M21.091 9.867v-6.5H6.909v10.046M10.453 27h7.091M14 1v2.364M10.454 16.367H1v10.636h9.454zM27 12.816h-9.454v14.182H27zM21.09 16.367h2.363M21.09 19.906h2.363M21.09 23.453h2.363M4.546 19.906H6.91M12.226 8.09h3.545M4.546 23.453H6.91"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">6º andar</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 30 24" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <g fill="none" fill-rule="evenodd" stroke="#F15A22" stroke-width="2" opacity=".25">
                                  <path d="M15 12.2V1" stroke-linecap="square"></path>
                                  <path
                                    d="M3.334 9.4V3.8c0-1.54 1.26-2.8 2.8-2.8h17.733c1.54 0 2.8 1.26 2.8 2.8v5.6"></path>
                                  <path
                                    d="M3.8 22.468v-1.866M26.2 22.468v-1.866M29 20.598v-8.866a2.31 2.31 0 0 0-2.333-2.334 2.31 2.31 0 0 0-2.334 2.334v3.733H5.667v-3.733a2.31 2.31 0 0 0-2.334-2.334A2.31 2.31 0 0 0 1 11.732v8.866h28z"
                                    stroke-linecap="square"></path>
                                  <path
                                    d="M24.333 15.466v-.467c0-1.54-1.26-2.8-2.8-2.8H8.466c-1.54 0-2.8 1.26-2.8 2.8v.467"
                                    stroke-linecap="square"></path>
                                </g>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">Sem mobília</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="MuiGrid-root jss379">
                        <button class="MuiButtonBase-root MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary"
                                tabindex="0" type="button" [hidden]="showing_info">

                      <span class="MuiButton-label" (click)="showing_info = true">Quero mais informações
                        <svg class="svg-icon" style="margin-left: 10px;width: 20px;fill: #FF6023" viewBox="0 0 20 20">
							<path
                d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"></path>
						</svg>
                      </span>

                        </button>
                      </div>
                      <div class="jss380" [hidden]="!showing_info">
                        <h6 class="MuiTypography-root MuiTypography-subtitle1">Detalhes</h6>
                        <div class="MuiGrid-root jss381 MuiGrid-container">
                          <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                            <h6 class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">Face
                              Solar da Sala</h6><h6 class="MuiTypography-root MuiTypography-subtitle1">Leste</h6></div>
                          <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                            <h6 class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">Face
                              Solar da Suíte</h6><h6 class="MuiTypography-root MuiTypography-subtitle1">Sudoeste</h6>
                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="jss365" [hidden]="!showing_info">

                      <h1 class="MuiTypography-root jss367 MuiTypography-h6">Apartamento à venda
                        em Jardim Paulista, com 3 quartos, 123 m²</h1>
                      <p class="MuiTypography-root MuiTypography-body2">A Loft é uma plataforma digital que nasceu para
                        revolucionar o mercado imobiliário. Nós acreditamos que é possível comprar e vender imóveis de
                        alto padrão de um jeito muito mais fácil e descomplicado, sem toda aquela burocracia que existe
                        hoje. 
                        Para corretores : imóvel em exclusividade, comissão até 4,2%.
                        Tour Virtual : tiny.cc/loft-tour-003</p>
                      <div class="jss388"><p class="MuiTypography-root MuiTypography-body2"><span>Reforme este apartamento para deixar do seu jeito: de R$ 200/m² (limpeza e pintura) até R$3.000/m² (reforma padrão Loft)</span>
                      </p></div>
                      <hr class="MuiDivider-root jss366"/>
                    </section>

                    <section class="jss365" [hidden]="!showing_info">
                      <h6 class="MuiTypography-root jss367 MuiTypography-h6">Valores</h6>
                      <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                          <div class="jss395">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center"><h6
                              class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">Preço
                              de venda</h6></div>
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-flex-end"><h6
                              class="MuiTypography-root MuiTypography-h6">R$ 900.000</h6></div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                          <div class="jss395">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center"><h6
                              class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">Valor
                              do m²</h6></div>
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-flex-end"><h6
                              class="MuiTypography-root MuiTypography-h6">R$ 7.317</h6></div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                          <div class="jss395">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center"><h6
                              class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">
                              Condomínio</h6>
                              <p class="MuiTypography-root jss305 MuiTypography-body1 MuiTypography-colorTextSecondary">
                                <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                                     role="presentation">
                                  <path
                                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
                                </svg>
                              </p>
                            </div>
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-flex-end"><h6
                              class="MuiTypography-root MuiTypography-h6">R$ 1.700</h6></div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-3">
                          <div class="jss395">
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center"><h6
                              class="MuiTypography-root MuiTypography-subtitle2 MuiTypography-colorTextSecondary">
                              IPTU</h6></div>
                            <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-flex-end"><h6
                              class="MuiTypography-root MuiTypography-h6">R$ 355</h6></div>
                          </div>
                        </div>
                      </div>
                      <!--                      <hr class="MuiDivider-root jss366" />-->
                    </section>

                    <section class="jss365" [hidden]="!showing_info"><h6
                      class="MuiTypography-root jss367 MuiTypography-h6">Características do condomínio</h6>
                      <div class="MuiGrid-root MuiGrid-container">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 30 30" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <path stroke="#F15A22" stroke-width="2" stroke-miterlimit="10"
                                      d="M15 1v11.762M5.714 7.19V1M24.286 7.19V1M9.428 10.906L5.714 7.19 2 10.906l3.714 3.714 3.714-3.714zM28 10.906L24.286 7.19l-3.714 3.715 3.714 3.714L28 10.906z"
                                      stroke-linecap="square"></path>
                                <path stroke="#F15A22" stroke-width="2" stroke-miterlimit="10"
                                      d="M17.475 16.376v-3.61h-4.952v3.61"></path>
                                <path stroke="#F15A22" stroke-width="2" stroke-miterlimit="10"
                                      d="M15 28.236a6.19 6.19 0 1 0 0-12.381 6.19 6.19 0 0 0 0 12.38z"
                                      stroke-linecap="square"></path>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">Salão de festas</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-sm-4 MuiGrid-grid-md-2">
                          <div class="MuiGrid-root jss375 MuiGrid-container MuiGrid-justify-xs-center">
                            <div
                              class="MuiGrid-root jss377 MuiGrid-container MuiGrid-direction-xs-column MuiGrid-align-items-xs-center">
                              <svg class="MuiSvgIcon-root jss376 MuiSvgIcon-colorPrimary" focusable="false"
                                   viewBox="0 0 48 48" aria-hidden="true" role="presentation"
                                   preserveAspectRatio="xMaxYMax meet">
                                <path fill="#f15a22"
                                      d="M26 32.24c6.95-.82 12.34-6.72 12.34-13.89 0-7.73-6.27-14-14-14s-14 6.27-14 14c0 6.93 5.04 12.67 11.66 13.79V40H10v4h28v-4H26v-7.76z"></path>
                              </svg>
                              <div class="MuiGrid-root MuiGrid-container MuiGrid-justify-xs-center">
                                <div
                                  class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-justify-xs-center MuiGrid-grid-xs-12">
                                  <h6 class="MuiTypography-root MuiTypography-subtitle1">Área verde</h6></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="MuiDivider-root jss366"/>
                    </section>

                    <section class="jss365" [hidden]="!showing_info"><h6
                      class="MuiTypography-root jss367 MuiTypography-h6">Planta Baixa</h6>

                      <img class="jss536" src="https://content.loft.com.br/homes/11nuokd/desktop_floorplan.jpg"
                           alt="Planta Baixa">

                      <hr class="MuiDivider-root jss366"/>
                    </section>

                    <section class="jss365" [hidden]="!showing_info">
                      <h6 class="MuiTypography-root jss367 MuiTypography-h6">Ambientes</h6>
                      <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3">
                        <div
                          class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3">
                          <img class="jss142" src="https://content.loft.com.br/homes/11nuokd/desktop_bathroom18.jpg"
                               alt="bathroom"/><h6 class="MuiTypography-root jss143 MuiTypography-subtitle2">
                          Banheiro</h6></div>
                        <div
                          class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3">
                          <img class="jss142" src="https://content.loft.com.br/homes/11nuokd/desktop_kitchen19.jpg"
                               alt="kitchen"/><h6 class="MuiTypography-root jss143 MuiTypography-subtitle2">Cozinha</h6>
                        </div>
                        <div
                          class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3">
                          <img class="jss142" src="https://content.loft.com.br/homes/11nuokd/desktop_living0.jpg"
                               alt="living"/><h6 class="MuiTypography-root jss143 MuiTypography-subtitle2">Sala</h6>
                        </div>
                        <div
                          class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-3">
                          <img class="jss142"
                               src="https://content.loft.com.br/homes/11nuokd/desktop_master_bedroom15.jpg"
                               alt="master_bedroom"/><h6 class="MuiTypography-root jss143 MuiTypography-subtitle2">
                          Quarto</h6></div>
                      </div>
                    </section>

                  </div>

                  <mat-divider style="margin-top: 20px;"></mat-divider>

                  <div class="row" style="margin-top: 30px;">
                    <div class="col">
                      <button mat-flat-button style="width: 100%;color:white;fill:white;background:#FF6023;"  (click)=set_interest(current_apartment,true)>
                        <div>
                          <svg class="svg-icon" viewBox="0 0 20 20" style="width: 20px;">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"></path>
                          </svg>
                        </div>
                        TENHO INTERESSE
                      </button>
                    </div>

                    <div class="col">
                      <button mat-flat-button style="width: 100%;color: firebrick;fill:firebrick"  (click)=set_interest(current_apartment,false)>
                        <div>
                          <svg class="svg-icon" viewBox="0 0 20 20" style="width: 20px;">
                            <path
                              d="M10.185,1.417c-4.741,0-8.583,3.842-8.583,8.583c0,4.74,3.842,8.582,8.583,8.582S18.768,14.74,18.768,10C18.768,5.259,14.926,1.417,10.185,1.417 M10.185,17.68c-4.235,0-7.679-3.445-7.679-7.68c0-4.235,3.444-7.679,7.679-7.679S17.864,5.765,17.864,10C17.864,14.234,14.42,17.68,10.185,17.68 M10.824,10l2.842-2.844c0.178-0.176,0.178-0.46,0-0.637c-0.177-0.178-0.461-0.178-0.637,0l-2.844,2.841L7.341,6.52c-0.176-0.178-0.46-0.178-0.637,0c-0.178,0.176-0.178,0.461,0,0.637L9.546,10l-2.841,2.844c-0.178,0.176-0.178,0.461,0,0.637c0.178,0.178,0.459,0.178,0.637,0l2.844-2.841l2.844,2.841c0.178,0.178,0.459,0.178,0.637,0c0.178-0.176,0.178-0.461,0-0.637L10.824,10z"></path>
                          </svg>
                        </div>
                        PRÓXIMO
                      </button>
                    </div>
                  </div>




                </mat-card-content>


              </mat-card>

            </div>
          </div>


        </mat-card>
      </div>
    </div>

  </div>

</div>
